h {
	color: red;
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 75px;
	font-family: "Lucida Console", monspace, sans-serif;
	top: 50px;
}

button {
	position: relative;
	font-size: 30px;
	top: 500px;
	left: 1350px;
}

